<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Каталог курсов</title>
		<link rel="stylesheet" href="/static/courses.css" />
  </head>
  <body>
    {% include 'header.html' %}

    <form id="filter-form" method="GET">
      <label>Цена</label>
      <input type="number" name="min_price" value="{{ min_price }}" min="0" onchange="submitForm()">
      <label>-</label>
      <input type="number" name="max_price" value="{{ max_price }}" min="0" onchange="submitForm()">
      <br />
      <button onclick="freeButton()">Бесплатно</button>
      <br />

      <label>Тип</label>
      <br />
      <input type="checkbox" name="type" value="short" id="short" {% if 'short' in filter_types %}checked{% endif %} onchange="submitForm()">
      <label for="short">Краткосрочные</label><br />
      <input type="checkbox" name="type" value="long" id="long" {% if 'long' in filter_types %}checked{% endif %} onchange="submitForm()">
      <label for="long">Длительные</label><br />
      <input type="checkbox" name="type" value="intensive" id="intensive" {% if 'intensive' in filter_types %}checked{% endif %} onchange="submitForm()">
      <label for="intensive">Интенсивные</label><br />
    </form>

    <div id="courses-container">
      <p>
        {% for course in courses %}
        <li>
          <a href="{{ url_for('courses.view_course', course_title=course.title|replace(' ', '_')) }}">
            <h3>
              {{ course.title }}
            </h3>
            <h4>
              {% if course.type == "short" %}
                Краткосрочный
              {% elif course.type == "long" %}
                Длительный
              {% elif course.type == "intensive" %}
                Интенсивный
              {% endif %}
              </br>
              {{ course.description }}
            </h4>
            <h3>
              {% if course.price.replace(" ?", "") == "0,00" %}
                Бесплатный
              {% else %}
                {{ course.price.replace("?", "")+"РУБ" }}
              {% endif %}
            </h3>
          </a>
        </li>
        {% endfor %}
      </p>
    </div>
    

    <script>
      function submitForm() {
        document.getElementById("filter-form").submit();
      }

      function freeButton() {
        var min = document.querySelector("input[name='min_price']");
        var max = document.querySelector("input[name='max_price']");
        min.value = 0;
        max.value = 0;
        document.getElementById("filter-form").submit()
      }
    </script>
    
  </body>
</html>
