<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{{ course.title }}</title>
		<link rel="stylesheet" href="/static/course.css" />
	</head>
	<body>
		{% include 'header.html' %}

		<div class="course-container">
			<h2>{{ course.title }}</h2>
			<h2><a href="/user/{{course.author.username}}">{{ course.author.name }}</a></h2>
			<h3>
				Тип курса: {% if course.type == "short" %} Краткосрочный {% elif course.type == "long" %}
				Длительный {% elif course.type == "intensive" %} Интенсивный {% endif %}
			</h3>
			<p>{{ course.description }}</p>
			<p>
				{% if course.price.replace(" ?", "") == "0,00" %} Бесплатный {% else %} {{
				course.price.replace("?", "") + "РУБ" }} {% endif %}
			</p>
			<button class="btn btn-primary">Записаться</button>
			<h3>Отзывы</h3>
			<form
				id="feedbackForm"
				action="{{ url_for('courses.add_feedback', course_title=course.title|replace(' ', '_')) }}"
				method="post"
			>
				<textarea
					id="feedbackText"
					name="feedback_text"
					rows="4"
					cols="50"
					resize="none"
					required
					placeholder="Введите ваш отзыв здесь"
				></textarea>
				<button type="submit" class="btn btn-secondary">Отправить отзыв</button>
			</form>
			{% include 'course_feedbacks.html' %}
		</div>

		<script>
			function submitFeedback() {
				document.getElementById("feedbackForm").submit()
			}
		</script>
	</body>
</html>
