<div class="py-5 container" style="max-width: 1280px">
	<footer class="py-4 border-top">
		<div class="row justify-content-center">
			<div class="col-12 col-md-5 mb-4">
				<img style="padding-bottom: 10px" src="/static/logo3.svg" alt="" width="200" />

				<div>
					<h5 style="font-weight: 600">+7 900 000 00 00</h5>
					<h5 style="font-weight: 600">support@en-solutions.ru</h5>
				</div>

				<ul class="list-unstyled d-flex" style="padding-top: 10px">
					<li class="ms-3">
						<a
							class="link-dark"
							href="https://github.com/EN-YSolutions/Training_system_Tereshchenko"
						>
							<i class="fab fa-github" style="font-size: 48px"></i>
						</a>
					</li>
				</ul>
			</div>

			<div class="col-6 col-md-2 mb-3">
				<h5>Информация</h5>
				<ul class="nav flex-column">
					<li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">О нас</a></li>
					<li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Отзывы</a></li>
				</ul>
			</div>

			<div class="col-md-3">
				<h5>Обучение</h5>
				<ul class="nav flex-column">
					<li class="nav-item mb-2">
						<a href="#" class="nav-link p-0 text-muted">Курс «Python-Разработчик»</a>
					</li>
					<li class="nav-item mb-2">
						<a href="#" class="nav-link p-0 text-muted">Курс «Веб-разработчик»</a>
					</li>
					<li class="nav-item mb-2">
						<a href="#" class="nav-link p-0 text-muted">Курс «Графический дизайнер»</a>
					</li>
				</ul>
			</div>

			<div class="col col-md-2 mb-3">
				<h5>Помощь</h5>
				<ul class="nav flex-column">
					<li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Справка</a></li>
					<li class="nav-item mb-2">
						<a href="#" class="nav-link p-0 text-muted">Вопросы и ответы</a>
					</li>
				</ul>
				<br />
			</div>
		</div>

		<div>
			<p class="text-muted" style="padding-left: 45px">© EN Solutions. 2024</p>
		</div>
	</footer>
</div>

<style>
	/* Стиль для выделенных ссылок */
	.link-dark {
		color: darkgray; /* Установка цвета ссылки на черный */
		text-decoration: none; /* Убрать подчеркивание ссылки */
	}

	/* Стиль для выделенных ссылок при наведении курсора */
	.link-dark:hover {
		color: black; /* Установка цвета ссылки на темно-серый при наведении курсора */
	}
</style>
