<div class="py-5 container" style="max-width: 1280px">
	<footer class="py-4 border-top">
		<div class="row justify-content-center">
			<div class="col-12 col-md-5 mb-4">
				<img style="padding-bottom: 10px" src="/static/logo3.svg" alt="" width="200" />

				<div>
					<h5 style="font-weight: 600">+7 967 264 90 00</h5>
					<h5 style="font-weight: 600">support@en-solutions.ru</h5>
				</div>

				<ul class="list-unstyled d-flex" style="padding-top: 10px">
					<li class="ms-3">
						<a
							class="link-dark"
							href="https://github.com/EN-YSolutions/Training_system_Tereshchenko"
						>
							<i class="fab fa-github" style="font-size: 48px"></i>
						</a>
					</li>
				</ul>
			</div>

			<div class="col-md-2 mb-3 hover-effect-container"></div>

			<div class="col-md-2 mb-3 hover-effect-container">
				<h5>Информация</h5>
				<ul class="nav flex-column">
					<li class="nav-item mb-2">
						<a href="#" class="nav-link p-0" data-toggle="modal" data-target="#aboutModal">О нас</a>
					</li>
					<li class="nav-item mb-2">
						<a href="#" class="nav-link p-0" data-toggle="modal" data-target="#termsModal"
							>Условия использования</a
						>
					</li>
				</ul>
			</div>

			<div class="col-md-3 hover-effect-container">
				<h5>Обучение</h5>
				<ul class="nav flex-column">
					<li class="nav-item mb-2">
						<a href="/course/Курс_«Python-Разработчик»_с_нуля" class="nav-link p-0"
							>Курс «Python-Разработчик»</a
						>
					</li>
					<li class="nav-item mb-2">
						<a href="/course/Курс_«Веб-разработчик»_с_нуля" class="nav-link p-0"
							>Курс «Веб-разработчик»</a
						>
					</li>
					<li class="nav-item mb-2">
						<a href="/course/Графический_дизайнер" class="nav-link p-0"
							>Курс «Графический дизайнер»</a
						>
					</li>
				</ul>
			</div>

			<div
				class="modal fade"
				id="aboutModal"
				tabindex="-1"
				role="dialog"
				aria-labelledby="termsModalLabel"
				aria-hidden="true"
			>
				<div class="modal-dialog" role="document" style="max-width: 1440px">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="termsModalLabel">О EN-Solutions</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<p>
								<b>EN // Solutions</b> — это динамично развивающаяся компания, специализирующаяся на
								предоставлении широкого спектра услуг в области образования, информационных
								технологий и консультирования. Наша цель — помочь нашим клиентам достигать высот в
								их профессиональной и личной жизни, предоставляя качественные и актуальные решения.
							</p>

							<h3>Основные направления нашей деятельности включают</h3>

							<ul>
								<li>
									<strong>Образование дополнительное для детей и взрослых</strong>: Мы предлагаем
									курсы и программы повышения квалификации для всех возрастных групп, помогая людям
									развивать навыки и знания, необходимые в современном мире.
								</li>
								<li>
									<strong>Исследование конъюнктуры рынка и изучение общественного мнения</strong>:
									Наши исследования помогают компаниям понять текущие рыночные тенденции и
									адаптироваться к изменяющимся условиям.
								</li>
								<li>
									<strong
										>Консультационные услуги в области коммерческой деятельности и
										управления</strong
									>: Мы предоставляем экспертные консультации по вопросам управления и коммерческой
									деятельности, помогая нашим клиентам оптимизировать свои бизнес-процессы.
								</li>
								<li>
									<strong>Услуги в области бухгалтерского учета и финансового аудита</strong>: Наша
									команда экспертов обеспечивает качественное бухгалтерское сопровождение,
									проведение финансового аудита и налоговое консультирование.
								</li>
								<li>
									<strong>Аренда и управление недвижимым имуществом</strong>: Мы предлагаем услуги
									по аренде и управлению недвижимостью, обеспечивая максимальную эффективность и
									прибыльность для наших клиентов.
								</li>
								<li>
									<strong>Консультационные услуги в области компьютерных технологий</strong>: Наши
									специалисты помогут вам внедрить и оптимизировать использование новейших
									технологий в вашем бизнесе.
								</li>
								<li>
									<strong>Розничная торговля</strong>: Мы занимаемся розничной торговлей как в
									специализированных, так и неспециализированных магазинах, а также через Интернет,
									предлагая широкий ассортимент товаров.
								</li>
								<li>
									<strong>Фотографические услуги</strong>: Мы предоставляем услуги профессиональной
									фотосъемки для различных нужд, от корпоративных мероприятий до личных фотосессий.
								</li>
								<li>
									<strong
										>Производство и распространение кино- и видеофильмов, телевизионных
										программ</strong
									>: Наша команда занимается производством и распространением высококачественного
									видеоконтента, включая кинофильмы и телепрограммы.
								</li>
								<li>
									<strong
										>Художественное творчество и прочие вспомогательные услуги для бизнеса</strong
									>: Мы поддерживаем развитие творческих проектов и предоставляем широкий спектр
									вспомогательных услуг, которые помогают бизнесу процветать.
								</li>
							</ul>

							<p>
								Компания EN // Solutions гордится тем, что охватывает различные сегменты рынка и
								удовлетворяет потребности самых разнообразных клиентов. Мы стремимся к постоянному
								совершенствованию и инновациям, чтобы наши услуги всегда соответствовали самым
								высоким стандартам качества.
							</p>
						</div>
						<div class="modal-footer"></div>
					</div>
				</div>
			</div>

			<div
				class="modal fade"
				id="termsModal"
				tabindex="-1"
				role="dialog"
				aria-labelledby="termsModalLabel"
				aria-hidden="true"
			>
				<div class="modal-dialog" role="document" style="max-width: 1440px">
					<div class="modal-content">
						<div class="modal-header">
							<h2 class="modal-title" id="termsModalLabel">Условия использования</h2>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<div>
								<h3>ПОЛЬЗОВАТЕЛИ И ПОСЕТИТЕЛИ</h3>
								<p>
									<b>Регистрация и аккаунт:</b> Для доступа к некоторым функциям платформы вам может
									потребоваться создать аккаунт. Вы обязуетесь предоставить точную и актуальную
									информацию при регистрации и поддерживать её в актуальном состоянии. Вы несете
									ответственность за безопасность вашего аккаунта и пароля, а также за все действия,
									совершенные под вашим аккаунтом.
								</p>
								<p>
									<b>Права и обязанности:</b> Пользователи и посетители обязуются использовать
									платформу в соответствии с законодательством, не нарушать права третьих лиц и
									соблюдать эти Условия.
								</p>

								<h3>ПРАВА И ОБЯЗАННОСТИ ПОСЕТИТЕЛЕЙ</h3>
								<p>
									<b>Пользовательский контент:</b> Пользователи могут загружать, публиковать и
									передавать контент на платформе. Вы соглашаетесь не размещать контент, который
									является незаконным, оскорбительным, дискриминационным, нарушающим права
									интеллектуальной собственности или иным образом неприемлемым. Мы оставляем за
									собой право удалять любой контент, который, по нашему мнению, нарушает эти
									Условия.
								</p>
								<p>
									<b>Использование платформы:</b> Пользователи обязаны использовать платформу
									добросовестно, не вмешиваться в её работу, не использовать её для незаконных целей
									и не распространять вредоносное ПО.
								</p>

								<h3>ПРАВА НА ИНТЕЛЛЕКТУАЛЬНУЮ СОБСТВЕННОСТЬ</h3>
								<p>
									Все материалы, размещенные на платформе, включая курсы, тексты, графику, логотипы,
									изображения и видео, являются собственностью нашей компании или лицензиаров и
									защищены авторскими правами и другими законами об интеллектуальной собственности.
									Вы не можете копировать, изменять, распространять или использовать материалы без
									нашего явного письменного разрешения.
								</p>

								<h3>КОНФИДЕНЦИАЛЬНОСТЬ</h3>
								<p>
									Мы уважаем вашу конфиденциальность и обязуемся защищать вашу личную информацию.
									Пожалуйста, ознакомьтесь с нашей Политикой конфиденциальности, чтобы узнать больше
									о том, как мы собираем, используем и защищаем вашу информацию.
								</p>

								<h3>ОТВЕТСТВЕННОСТЬ</h3>
								<p>
									<b>Ограничение ответственности:</b> Мы не несем ответственности за любые убытки
									или ущерб, возникшие в результате использования нашей платформы или невозможности
									её использования. Мы не гарантируем, что платформа будет доступна в любое время,
									без перерывов, ошибок или вирусов.
								</p>
								<p>
									<b>Ссылки на сторонние сайты:</b> Наша платформа может содержать ссылки на
									сторонние веб-сайты, которые не управляются нами. Мы не контролируем и не несем
									ответственности за контент, политику конфиденциальности или практику таких сайтов.
									Вы используете сторонние сайты на свой страх и риск.
								</p>

								<h3>ПРЕКРАЩЕНИЕ</h3>
								<p>
									Компания оставляет за собой право по любой причине и в любое время приостановить
									или прекратить ваш доступ к Веб-сайту и/или Приложению, заблокировав ваш IP-адрес
									без уведомления или ответственности.
								</p>

								<h3>ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ</h3>
								<p>
									<b>Изменения условий:</b> Мы оставляем за собой право изменять и обновлять эти
									Условия в любое время. Обновленные Условия будут опубликованы на этой странице, и
									ваше продолжение использования платформы после внесения изменений означает ваше
									согласие с новыми Условиями.
								</p>
								<p>
									<b>Применимое право:</b> Эти Условия регулируются и толкуются в соответствии с
									законодательством Российской Федерации. Все споры, возникающие в связи с этими
									Условиями, подлежат исключительной юрисдикции судов Российской Федерации.
								</p>
								<p>
									<b>Контакты:</b> Если у вас есть вопросы или предложения по поводу этих Условий,
									пожалуйста, свяжитесь с нами по электронной почте
									<a href="mailto:support@en-solutions.ru">support@en-solutions.ru</a> или по
									телефону <br /><a href="+79672649000">+7 967 264 90 00</a>.
								</p>
							</div>
						</div>
						<div class="modal-footer"></div>
					</div>
				</div>
			</div>
			<!--
			<div class="col col-md-2 mb-3 hover-effect-container">
				<h5>Помощь</h5>
				<ul class="nav flex-column">
					<li class="nav-item mb-2"><a href="#" class="nav-link p-0">Справка</a></li>
					<li class="nav-item mb-2">
						<a href="#" class="nav-link p-0">Вопросы и ответы</a>
					</li>
				</ul>
				<br />
			</div>
			-->
		</div>

		<div>
			<p class="text-muted" style="padding-left: 45px">© EN Solutions. 2024</p>
		</div>
	</footer>
</div>

<style>
	/* Стиль для выделенных ссылок */
	.link-dark {
		color: darkgray; /* Установка цвета ссылки на черный */
		text-decoration: none; /* Убрать подчеркивание ссылки */
	}

	/* Стиль для выделенных ссылок при наведении курсора */
	.link-dark:hover {
		color: black; /* Установка цвета ссылки на темно-серый при наведении курсора */
	}

	.hover-effect-container .nav-link {
		font-family: "Roboto";
		font-weight: 400;
		font-size: 16px;
		color: #6c757d;
		transition: color 0.3s ease;
	}

	/* Цвет текста при наведении для ссылок внутри div с классом .hover-effect-container */
	.hover-effect-container .nav-link:hover {
		color: rgb(92, 43, 226);
	}
</style>
