<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Регистрация</title>
		<link rel="stylesheet" href="/static/course.css" />
	</head>
	<body>
		<nav>
			<a href="/">Образовательный портал</a>
			<a href="/courses">Каталог курсов</a>
			{% if 'user_id' in session %}
			<a href="/dashboard">Личный кабинет</a>
			<a href="/logout">Выйти</a>
			{% else %}
			<a href="/register">Зарегистрироваться</a>
			<a href="/login">Войти</a>
			{% endif %}
		</nav>
		<h2>Регистрация</h2>

		<form method="post" action="{{ url_for('register') }}">
			<label for="username">Логин:</label>
			<input type="text" name="username" required /><br />

			<label for="password">Пароль:</label>
			<input type="password" name="password" required /><br />

			<label for="name">ФИО:</label>
			<input type="text" name="name" required /><br />

			<button type="submit">Зарегистрироваться</button>
			{% with messages = get_flashed_messages() %} {% if messages %}
			<ul>
				{% for message in messages %} {{ message }} {% endfor %}
			</ul>
			{% endif %} {% endwith %}
		</form>
	</body>
</html>
