{% extends 'main/base.html' %} {% block content %} {% macro format_time_interval(value) %} {% set
translations = { 'min': 'минут', 'h': 'час', 'd': {1: 'день', 'default': 'дня'} } %} {% set parts =
value.split() %} {% set result = [] %} {% for i in range(0, parts|length, 2) %} {% set amount =
parts[i]|int %} {% set unit = parts[i+1] %} {% if unit == 'd' and amount != 1 %} {% set
unit_translation = translations[unit]['default'] %} {% else %} {% set unit_translation =
translations[unit] %} {% endif %} {% set result = result + [amount ~ ' ' ~ unit_translation] %} {%
endfor %} {{ result | join(' и ') }} {% endmacro %}

<div class="my-5 container" style="max-width: 1440px">
	<div class="row" style="">
		<div class="col-lg-3 bg-danger bg-danger d-flex flex-column align-items-center">
			<div class="d-flex mt-4">
				<img src="{{ test.course.url }}" style="width: 100px; height: 100px" />
			</div>

			<button class="btn btn-success mt-3" style="font-size: 24px">Начать тест</button>
			{% if not account %}
			<div class="text-center mt-3">
				<p>
					Необходимо <a href="/login">войти</a> или <a href="/register">зарегистрироваться</a>,
					чтобы пройти тест
				</p>
			</div>
			{% endif %}
		</div>
		<div class="col-lg-6 bg-primary mr-2 ml-2">
			<div class="mt-4 ml-2">
				<h2 style="color: rgb(99, 94, 108)">{{ test.course.title }}</h2>
				<h5 class="mt-3" style="color: rgb(61, 51, 80)">{{ test.title }}</h5>
				<p class="mt-3">Сложность:</p>

				<div class="row text-center justify-content-center">
					<div class="col bg-info">
						{% if test.questions != None %}
						<p>вопросы {{ test.questions }} {% endif %}</p>
					</div>
					<div class="col-lg bg-info" id="test-time" data-time="{{ test.time }}">
						{% if test.time != None %} время на тест {{ test.time }} {% endif %}
					</div>
					<div class="col bg-info" id="test-interval" data-interval="{{ test.interval }}">
						{% if test.interval != None %} интервал попыток {{ test.interval }} {% endif %}
					</div>
				</div>
			</div>
		</div>
		<div class="col bg-primary">
			<div class="mt-4">
				{% if test.topics %}
				<h2 style="color: rgb(0, 0, 0)">Темы тестирования</h2>
				<ul class="mt-3" style="color: rgb(61, 51, 80)">
					{% for topic in test.topics %}
					<li>{{ topic }}</li>
					{% endfor %}
				</ul>
				{% endif %}
			</div>
		</div>
	</div>
</div>

<script>
	document.addEventListener("DOMContentLoaded", function () {
		function formatTimeInterval(value) {
			const translations = {
				min: "минут",
				h: "час",
				d: ["день", "дня", "дней"],
			}
			const parts = value.split(" ")
			let result = []

			for (let i = 0; i < parts.length; i += 2) {
				const amount = parseInt(parts[i])
				const unit = parts[i + 1]

				let unitTranslation
				if (unit === "d") {
					unitTranslation =
						amount === 1
							? translations[unit][0]
							: amount > 1 && amount < 5
							? translations[unit][1]
							: translations[unit][2]
				} else {
					unitTranslation = translations[unit]
				}

				result.push(`${amount} ${unitTranslation}`)
			}

			return result.join(" и ")
		}

		const testTimeElement = document.getElementById("test-time")
		const testTime = testTimeElement.getAttribute("data-time")
		if (testTime && testTime !== "None") {
			testTimeElement.innerHTML = `время на тест ${formatTimeInterval(testTime)}`
		}

		const testIntervalElement = document.getElementById("test-interval")
		const testInterval = testIntervalElement.getAttribute("data-interval")
		if (testInterval && testInterval !== "None") {
			testIntervalElement.innerHTML = `интервал попыток ${formatTimeInterval(testInterval)}`
		}
	})
</script>

<style>
	.container {
		font-family: "Roboto";
	}
</style>

{% endblock %}
